/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: rgba(22, 25,30, 1);
  background-image: url('image.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 900px ;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

section {
  width: 44%;
  max-width: 400px;;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  opacity: 0.85;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f9f4f6;
    text-shadow: 3px 3px 8px #390129;
    margin-left: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    color: rgb(174, 16, 108);
}

footer {
    margin-left: 20px;
    color: rgb(237, 212, 180);
    text-shadow: 3px 3px 4px #390129;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
select {
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #b81181;
  border-radius: 3px;
}

input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #2503aa;
}

#result-section p {
  margin: 5px 0;
}

#result-section span {
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:800px) {
  .content {flex-direction: column; align-items: center;}
  section {margin-bottom: 20px; width: 100%; max-width: 300px;}
  body {background-color: white;}
}

